:root {
    --header-color-normal:#212121;
    --accent-color:#2196F3;
    --text-color-normal:#757575;
    --first-title-color:#FFFFFF;
    --second-title-color:#212121;
    --btn-color:#FFFFFF;
    --first-background-color:#2F303A;
    --comand-background-color:#FFFFFF;
    --main-color:#212121;
    --typical-gap: 94px;
    --typical-second-gap: 24px;
    --svg-typical-color: #AFB1B8;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-color);
    margin: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header{
    padding-top: 24px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 3px solid red; */
}

.header .container{
    display: flex;
    align-items: center;
}

.header::after{
    content: "";
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 1px;
    background-color: #ECECEC;
    margin-top: 25px;

}

.header-list{
    display: flex;
}

.header-item{
    margin-right: 50px;
}

.header-second-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}


.header-second-item{
    margin-right: 50px;
}

.header-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: var(--typical-gap);
}

.first-logo {
    color: var(--accent-color);
}

.header-first-logo {
    color: var(--header-color-normal);
}

.header-first-link{
    color: var(--header-color-normal);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-first-link:hover,
.header-first-link:focus{
    color: var(--accent-color);
}

.header-contact-link{
    color: var(--text-color-normal);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-icon{
    margin-right: 10px;
    fill: var(--text-color-normal);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus{
    color: var(--accent-color);
}

.header-contact-link:hover .header-contact-icon{
    fill: var(--accent-color);
}

                /* main-section */

.main-section{
    background: var(--first-background-color);
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-foto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-title-color);
    margin-bottom: 30px;
    max-width: 696px;
}

.main-btn{
    font-family: inherit;
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* display: flex; */
    /* align-items: center; */
    letter-spacing: 0.06em;
    color: var(--btn-color);
    cursor: pointer;
    height: 50px;
    min-width: 216px;
    border-radius: 4px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

                 /* second-section */

.second-section{
    padding-top: var(--typical-gap);
    padding-bottom: var(--typical-gap);
}

.second-list{
    display: flex;
}

.second-item-list{
    margin-right: 30px;
}

.second-section-icon-container{
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    border-radius: 4px;
    margin-bottom: 30px;
}

.second-section-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.second-section-paragraf{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-normal);
    max-width: 270px;
}

              /* third-section */

.third-section{
    padding-bottom: var(--typical-gap);
}

.third-section-list{
    display: flex;
    margin-left: -30px;
}

.third-list-item{
    margin-left: 30px;
    position: relative;
    overflow: hidden;
}

/* .third-list-item:hover .third-list-item-text{
    transform: translateY(0);
} */

.third-list-item-text{
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
    /* transform:  translateY(100%);
    transition: transform 300ms; */
}

                 /* fourth-section */

.fourth-section {
    background: #F5F4FA;
    padding-top: var(--typical-gap);
    padding-bottom: var(--typical-gap);
}

.normal-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.comand-list{
    display: flex;
}

.comand-item-list{
    background: var(--comand-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.comand-item-list + .comand-item-list{
    margin-left: 30px;
}

.comand-img{
    margin-bottom: 30px;
}

.comand{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.profession-comand{
    font-weight: 400;
    color: var(--text-color-normal);
    margin-bottom: 16px;
}

.comand-social{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.comand-item-social{
    
}

.comand-item-social + .comand-item-social{
    margin-left: 10px;
}

.comand-social-link{
    background-color: var(--comand-background-color);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-social-icon{
    fill: var(--svg-typical-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-social-link:hover,
.comand-social-link:focus{
    background-color: var(--accent-color);
}

.comand-social-link:hover .comand-social-icon{
    fill: var(--first-title-color);
}

.comand-social-link:focus .comand-social-icon {
    fill: var(--first-title-color);
}

           /* Five-section   */

.five-section .container{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: var(--typical-gap);
    padding-bottom: var(--typical-gap);
}

.regular-customers-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.regular-customers-item{
    border: 1px solid var(--svg-typical-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.regular-customers-item + .regular-customers-item{
    margin-left: 30px;
}

.regular-customers-icon{
    fill: var(--svg-typical-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-item:hover,
.regular-customers-item:focus{
    border-color: var(--accent-color);
}

.regular-customers-item:hover .regular-customers-icon{
    fill: var(--accent-color);
}
.regular-customers-item:focus .regular-customers-icon {
    fill: var(--accent-color);
}

           /* footer */
.footer{
    background: var(--first-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container{
    display: flex;
    flex-direction: row;
}

.footer-container-left{
    width: 231px;
}

.footer-logo{
    margin-bottom: 20px;
}

.second-footer-logo{
    color: var(--first-title-color);
}

.footer-contact{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* margin-top: 20px; */
}

.footer-address{
    color: var(--first-title-color);
    /* display: block; */
}

.footer-address-item{
    margin-bottom: 9px;
    /* display: block; */
}

.footer-contact-link{
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link:hover,
.footer-contact-link:focus{
    color: var(--accent-color);
}

.footer-container-social{
    display: flex; 
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-title-color);
    margin-left: 70px;
}

.footer-social-list{
    display: flex;
    margin-top: 20px;
}

.footer-social-item + .footer-social-item{
    margin-left: 10px;
}
.footer-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--btn-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color: var(--accent-color);
}
/* line-height=line-height/font-size */


                  /* modal */

.backdrop{
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 300ms, visibility 300ms;
}

.modal-window{
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--comand-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 300ms;
    padding: 40px;
}

.btn-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: var(--comand-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover{
    fill: var(--accent-color);
}

.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    /* padding-top: 40px; */
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-form{
    padding-top: 12px;
}

.input-modal-cont + .input-modal-cont{
    padding-top: 10px;
}

.icon-modal{
    position: relative;
    padding-top: 4px;
}

.icon-modal-svg{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-45%);
    fill: var(--main-color);
}

.icon-modal:hover .icon-modal-svg {
    fill: var(--accent-color);
}

.modal-input:focus + .icon-modal-svg{
    fill: var(--accent-color);
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    
    /* transition: outline 300ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.icon-modal:hover .modal-input{
    outline: 1px solid #2196F3;
}

.modal-input:focus, .modal-input:hover{
    outline: 1px solid #2196F3;
}


.label-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-color-normal);
    cursor: pointer;
}

.modal-coment{
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-top: 4px;
    /* transition: outline 300ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-coment:focus,
.modal-coment:hover{
    outline: 1px solid #2196F3;
}

.modal-coment::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    
}

.condition-modal{
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 12px;
}

.checkbox-input{
    background: #999;
    cursor: pointer;
}

.condition-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-normal);
    margin-left: 8px;
}

.modal-link{
    color: var(--accent-color);
}

.modal-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-submit-btn{
    transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus{
    background: #188CE8;
}



/* Portfolio */

.portfolio{
    padding-top: var(--typical-gap);
    padding-bottom: var(--typical-gap);
}

.portfolio-first-list{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.portfolio-btn{
    font-family: inherit;
    font-weight: 500;
    height: 38px;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    margin-right: 8px;
    padding: 0 22px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-first-list:last-child{
    margin-right: 0;
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--btn-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-second-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.portfolio-item-box{
    background: var(--comand-background-color);
    border: 1px solid var(--comand-background-color);
    margin-bottom: 30px;
    width: calc(100% / 3 - 30px);
    margin-right: 30px;
    border: 1px solid #EEEEEE;
    padding-bottom: 20px;
    border-top: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-box:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text-hover{
    position: relative;
    overflow: hidden;
}

.portfolio-text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 63px 24px;
}

.portfolio-text-hover:hover .portfolio-text{
    transform: translateY(0);
    background-color: rgba(33, 150, 243, 0.9);
}


.portfolio-item{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: var(--typical-second-gap);
}

.porfolio-item-type{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color-normal);
    margin-left: var(--typical-second-gap);
}