.header {
    padding-top: 24px;
}

.header .container {
    display: flex;
    align-items: center;
}

.header::after {
    content: "";
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 1px;
    background-color: #ececec;
    margin-top: 25px;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 50px;
}

.header-second-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.header-second-item {
    margin-right: 50px;
}

.header-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: var(--typical-gap);
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* margin-right: var(--typical-gap); */
}

.first-logo {
    color: var(--accent-color);
}

.header-first-logo {
    color: var(--header-color-normal);
}

.header-first-link {
    color: var(--header-color-normal);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-first-link:hover,
.header-first-link:focus {
    color: var(--accent-color);
}

.header-contact-link {
    color: var(--text-color-normal);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-icon {
    margin-right: 10px;
    fill: var(--text-color-normal);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--accent-color);
}

.header-contact-link:hover .header-contact-icon {
    fill: var(--accent-color);
}