.modal-window {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--comand-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms;
  padding: 40px;
}

.modal-title {
  @include font(700, 20px, 1.15, 0.03em);
  text-align: center;
  color: var(--second-title-color);
  /* padding-top: 40px; */
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-form {
  padding-top: 12px;
}

.input-modal-cont + .input-modal-cont {
  padding-top: 10px;
}

.icon-modal {
  position: relative;
  padding-top: 4px;
}

.icon-modal-svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-45%);
  fill: var(--main-color);
  .icon-modal:hover & {
    fill: var(--accent-color);
  }

  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  /* transition: outline 300ms cubic-bezier(0.4, 0, 0.2, 1); */
  .icon-modal:hover & {
    outline: 1px solid #2196f3;
  }
  &:focus,
  &:hover {
    outline: 1px solid #2196f3;
  }
}

.label-text {
  @include font(null, 12px, 1.16, 0.01em);
  color: var(--text-color-normal);
  cursor: pointer;
}

.modal-coment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  /* transition: outline 300ms cubic-bezier(0.4, 0, 0.2, 1); */
  &:focus,
  &:hover {
    outline: 1px solid #2196f3;
  }
  &::placeholder {
    @include font(null, 12px, 1.16, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.condition-modal {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 12px;
}

.checkbox-input {
  background: #999;
  cursor: pointer;
}

.condition-text {
  @include font(null, $lh: 1.71, $ls: 0.03em);
  color: var(--text-color-normal);
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.check-box {
  border: 1px solid #212121;
  border-radius: 4px;
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  margin-right: 7px;
  .checkbox-input:checked + .condition-text & {
    background-color: var(--accent-color);
    border: none;
  }
}

.check-icon {
  fill: transparent;
  .checkbox-input:checked + .condition-text & {
    fill: white;
  }
}

.modal-link {
  color: var(--accent-color);
  /* text-indent: 1em; */
}
