.second-section {
  padding-top: var(--typical-gap);
  padding-bottom: var(--typical-gap);
}

.second-list {
  display: flex;
}

.second-item-list {
  margin-right: 30px;
}

.second-section-icon-container {
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
}

.second-section-title {
  @include font(700, $ls: 0.03em);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.second-section-paragraf {
  @include font(null, $lh: 1.71, $ls: 0.03em);
  color: var(--text-color-normal);
  max-width: 270px;
}
