:root {
    --header-color-normal: #212121;
    --accent-color: #2196f3;
    --text-color-normal: #757575;
    --first-title-color: #ffffff;
    --second-title-color: #212121;
    --btn-color: #ffffff;
    --first-background-color: #2f303a;
    --comand-background-color: #ffffff;
    --main-color: #212121;
    --typical-gap: 94px;
    --typical-second-gap: 24px;
    --svg-typical-color: #afb1b8;
}